<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-0">

        <div class="well">
          Mark Twain
        </div>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Gestione profilo</div>
          <!-- List group -->
          <ul class="list-group" >
            <li class="list-group-item"><a href="#!/account">Dati personali</a></li>
            <li class="list-group-item"><a href="#!/api_acquistate">API acquistate</a></li>
            <li class="list-group-item"><a href="#!/api_registrate">API registrate</a></li>
          </ul>
        </div>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Pagamenti</div>
          <!-- List group -->
          <ul class="list-group" >
            <li class="list-group-item"><a href="#!/conto">Gestione conto</a></li>
            <li class="list-group-item"><a href="#!/lista_transazioni">Transazioni</a></li>
          </ul>
        </div>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-7 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">

       <div class="row">
          
          <!-- UC12.2 e UC12.2.2 -->
          <div class="col-md-11" >

          <div class="page-header">
            <h1>API Acquistate</h1>
          </div>

            <div class="panel panel-default mainPanelAccount">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th><a href="modificaapi.html">Nome API</a></th>
                    <th>Autore API</th>
                    <th>Policy di Vendita</th>
                    <th>Scadenza</th>
                    <th>Avvisi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th><img style="max-width: 50px;" src="images/apiexample.png" alt="apilogo"></th>
                    <th class="text-center">Trekker</th>
                    <th class="text-center">Mirko</th>
                    <th class="text-center">A chiamata</th>
                    <th class="text-center">20/09/201</th>
                    <th><a href="#">Inbox <span class="badge">42</span></a></th>
                  </tr>
                 <tr>
                    <th><img style="max-width: 50px;" src="images/apiexample.png" alt="apilogo"></th>
                    <th class="text-center">Trekker</th>
                    <th class="text-center">Mirko</th>
                    <th class="text-center">A chiamata</th>
                    <th class="text-center">20/09/201</th>
                    <th><a href="#">Inbox <span class="badge">42</span></a></th>
                  </tr><tr>
                    <th><img style="max-width: 50px;" src="images/apiexample.png" alt="apilogo"></th>
                    <th class="text-center">Trekker</th>
                    <th class="text-center">Mirko</th>
                    <th class="text-center">A chiamata</th>
                    <th class="text-center">20/09/201</th>
                    <th><a href="#">Inbox <span class="badge">42</span></a></th>
                  </tr><tr>
                    <th><img style="max-width: 50px;" src="images/apiexample.png" alt="apilogo"></th>
                    <th class="text-center">Trekker</th>
                    <th class="text-center">Mirko</th>
                    <th class="text-center">A chiamata</th>
                    <th class="text-center">20/09/201</th>
                    <th><a href="#">Inbox <span class="badge">42</span></a></th>
                  </tr><tr>
                    <th><img style="max-width: 50px;" src="images/apiexample.png" alt="apilogo"></th>
                    <th class="text-center">Trekker</th>
                    <th class="text-center">Mirko</th>
                    <th class="text-center">A chiamata</th>
                    <th class="text-center">20/09/201</th>
                    <th><a href="#">Inbox <span class="badge">42</span></a></th>
                  </tr><tr>
                    <th><img style="max-width: 50px;" src="images/apiexample.png" alt="apilogo"></th>
                    <th class="text-center">Trekker</th>
                    <th class="text-center">Mirko</th>
                    <th class="text-center">A chiamata</th>
                    <th class="text-center">20/09/201</th>
                    <th><a href="#">Inbox <span class="badge">42</span></a></th>
                  </tr><tr>
                    <th><img style="max-width: 50px;" src="images/apiexample.png" alt="apilogo"></th>
                    <th class="text-center">Trekker</th>
                    <th class="text-center">Mirko</th>
                    <th class="text-center">A chiamata</th>
                    <th class="text-center">20/09/201</th>
                    <th><a href="#">Inbox <span class="badge">42</span></a></th>
                  </tr><tr>
                    <th><img style="max-width: 50px;" src="images/apiexample.png" alt="apilogo"></th>
                    <th class="text-center">Trekker</th>
                    <th class="text-center">Mirko</th>
                    <th class="text-center">A chiamata</th>
                    <th class="text-center">20/09/201</th>
                    <th><a href="#">Inbox <span class="badge">42</span></a></th>
                  </tr><tr>
                    <th><img style="max-width: 50px;" src="images/apiexample.png" alt="apilogo"></th>
                    <th class="text-center">Trekker</th>
                    <th class="text-center">Mirko</th>
                    <th class="text-center">A chiamata</th>
                    <th class="text-center">20/09/201</th>
                    <th><a href="#">Inbox <span class="badge">42</span></a></th>
                  </tr>
                  
                </tbody>
              </table>

            </div>
            
          </div>

        </div>
    </div>
  </div>

