<div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
          <h3 class="text-center">Registrazione Nuova Api:</h3>
          <form>
            <p class="help-block">Il tuo servizio puo' anche essere composto da servizi su diverse location. E ogni subservizio puo' avere quante interfacce vuoi. Ci occupiamo noi di tutto. Tu stai relax</p>
            <!-- Inserisci Nome API -->
            <div class="form-group">
              <label for="exampleInputEmail1">Nome API</label>
              <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="Nome API">
            </div>
            <!-- Inserisci Descrizione API -->
            <div class="form-group">
                <label for="exampleInputPassword1">Descrizione</label>
                <textarea class="form-control" rows="3" placeholder="Descrizione"></textarea>
            </div>
            <!-- Scegli Categoria -->
            <div class="form-group">
              <label for="exampleInputPassword1">Categoria</label>
              <button type="button" class="label label-default">Politics</button>
              <button type="button" class="label label-primary">Network</button>
              <button type="button" class="label label-info">Video</button>
              <button type="button" class="label label-default">Cats</button>
              <button type="button" class="label label-default">ImgProcessors</button>
              <button type="button" class="label label-warning">Chats</button>
              <button type="button" class="label label-primary">Utils</button>
              <button type="button" class="label label-danger">Hackerz</button>       
            </div>
            <!-- Subservizi_i -->
            <!-- Subservizio[0] -->
            <div class="form-group">
                <h5 class="text-center">SubServizio 1:</h5>
                <!-- Inserisci Location -->
                <div>
                  <label for="exampleInputEmail1">Location</label>
                  <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="Location:socket://localhost:8030">
                </div>
                <!-- Inserisci Protocol -->
                <div class="form-group">
                  <label for="exampleInputPassword1">Protocol</label>
                  <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="Protocol: http/sodep">
                </div>
                <!-- Interfacce_i0_j -->
                <!-- Inserisci Interfaccia[0] -->
                <div class="form-group">
                  <label for="exampleInputFile">Interfaccia 1</label>
                  <input type="file" id="exampleInputFile">
                  <p class="help-block">Inserisci l'interfaccia .iol del tuo servizio</p>
                </div>
                <!-- Inserisci Interfaccia[1] -->
                <div class="form-group">
                  <label for="exampleInputFile">Interfaccia 2</label>
                  <input type="file" id="exampleInputFile">
                  <p class="help-block">Inserisci l'interfaccia .iol del tuo servizio</p>
                </div>
                <!-- Inserisci Interfaccia[2] -->
                <div class="form-group">
                  <label for="exampleInputFile">Interfaccia 3</label>
                  <input type="file" id="exampleInputFile">
                  <p class="help-block">Inserisci l'interfaccia .iol del tuo servizio</p>
                </div>
                <button class="btn btn-default">Aggiungi Interfaccia</button>
            </div>
            <!-- Subservizio[1] -->
            <div class="form-group">
                <h5 class="text-center">SubServizio 2:</h5>
                <!-- Inserisci Location -->
                <div>
                  <label for="exampleInputEmail1">Location</label>
                  <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="Location:socket://localhost:8030">
                </div>
                <!-- Inserisci Protocol -->
                <div class="form-group">
                  <label for="exampleInputPassword1">Protocol</label>
                  <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="Protocol: http/sodep">
                </div>
                 <!-- Interfacce_i1_j -->
                <!-- Inserisci Interfaccia[0] -->
                <div class="form-group">
                  <label for="exampleInputFile">Interfaccia 1</label>
                  <input type="file" id="exampleInputFile">
                  <p class="help-block">Inserisci l'interfaccia .iol del tuo servizio</p>
                </div>
                <!-- Inserisci Interfaccia[1] -->
                <div class="form-group">
                  <label for="exampleInputFile">Interfaccia 2</label>
                  <input type="file" id="exampleInputFile">
                  <p class="help-block">Inserisci l'interfaccia .iol del tuo servizio</p>
                </div>
                <button class="btn btn-default">Aggiungi Interfaccia</button>
            </div>
            <!-- Subservizio[2] -->
            <div class="form-group">
              <h5 class="text-center">SubServizio 3:</h5>
                <!-- Inserisci Location -->
               <div>
                  <label for="exampleInputEmail1">Location</label>
                  <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="Location:socket://localhost:8030">
                </div>
                <!-- Inserisci Protocol -->
                <div class="form-group">
                  <label for="exampleInputPassword1">Protocol</label>
                  <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="Protocol: http/sodep">
                </div>
                <!-- Interfacce_i2_j -->
                <!-- Inserisci Interfaccia[0] -->
                <div class="form-group">
                  <label for="exampleInputFile">Interfaccia 1</label>
                  <input type="file" id="exampleInputFile">
                  <p class="help-block">Inserisci l'interfaccia .iol del tuo servizio</p>
                </div>
                <button class="btn btn-default">Aggiungi Interfaccia</button>
            </div>
            <button class="btn btn-default">Aggiungi Subservizio</button>

            <!-- Inserisci documentazione pdf -->
            <div class="form-group">
                  <label for="exampleInputFile">Inserisci la documentazione in formato pdf</label>
                  <input type="file" id="exampleInputFile">
                  <p class="help-block">Descrivi meglio il tuo servizio inserendo una documentazione</p>
            </div>
            <!-- Inserisci documentazione esterna -->
            <div class="form-group">
                  <label for="exampleInputEmail1">Inserisci link a Documentazione Esterna</label>
                  <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="Link Doc Esterna">
            </div>
            <!-- Scegli Policy -->
            <div class="form-group">
                <label for="exampleInputEmail1">Policy di Vendita</label>
                  <!-- Sceglio Policy a chiamate -->
                 <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    <a href="#!/policy1">Per numero di chiamate</a>
                  </label>
                </div>
                <!-- Sceglio Policy a tempo -->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    <a href="#!/policy3">Per tempo di utilizzo</a>
                  </label>
                </div>
                <!-- Sceglio Policy per traffico -->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    <a href="#!/policy2">Per tempo traffico</a>
                  </label>
                </div>
            </div>
            <!-- Inserisci Guadagno -->
            <div class="form-group">
                  <label for="exampleInputEmail1">Inserisci guadagno API</label>
                  <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="Guadagno">
            </div>
            <!-- Inserisci Logo -->
            <div class="form-group">
                  <label for="exampleInputFile">Inserisci logo API</label>
                  <input type="file" id="exampleInputFile">
                  <p class="help-block">Il logo deve essere in formato png, jpeg oppure gif</p>
            </div>
            <!-- Conferma -->
            <button type="submit" class="btn btn-default">Registra nuova API</button>
          </form>
      </div>
  </div>
